.container {
    width: 100%;

    h1 {
        padding-bottom: 2rem;
    }

    .wrapper {

        button {
            padding: .5rem 1rem;
            font-size: 1.1rem;
            margin: 0 1rem 2rem; 
            border-radius: 10px;
        }

        button:focus {
            outline-color: aqua;
            color: aquamarine;
        }
        form {
            width: 40%;
            margin:  0 auto;
            display: flex;
            flex-direction: column;

            label {
                font-weight: 800;
                margin-bottom: 2rem;
            }

            input {
                padding: .5rem 1rem;
                font-size: .9rem;
                border-radius: 5px;
                border: 1px solid antiquewhite;
            }
            button {
                width: 50%;
                margin: 2rem auto 0;
            }
        }
    }
}